<%- include("partials/header.ejs")%>
    <form action="/publish" method="post">
        <label for="title">Book Title:</label>
        <input type="text" id="title" name="title"><br><br>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author"><br><br>
        <label for="review">Review:</label><br><br>
        <textarea type="text" id="review" name="review" rows="10" cols="40"></textarea><br><br>
        <label for="rating">Rating:</label>
        <input type="text" id="rating" name="rating"><br><br>
        <input type="submit" value="Submit">
    </form>
<%- include("partials/footer.ejs")%>